.body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	padding: 0;
}

.styleTable {
    border: 1px solid #d3d3d3;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-collapse:collapse;
    padding:10px;
}
