.body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	padding: 0;
}

div.form {
	display: flex;
	justify-content: center;
	align-items: start;
	width: 370px;
	height: 300px;
	border: 1px solid #d3d3d3;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.form form {
	display: flex;
	flex-direction: column;
	width: 350px;
	margin: 0 50px;
}

.form label {
	margin-bottom: 5px;
}

.form input,.form select {
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #6f97b0;
	border-radius: 3px;
}

.form input[type="submit"] {
	background-color: #6cd9d7;
	color: white;
	cursor: pointer;
}

.form input[type="submit"]:hover {
	background-color: #89E0DF;
}
