.body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	padding: 0;
}

.frame {
    border: 1px solid #d3d3d3;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding:10px;
	width: auto;
    min-width: 18%;
}

.row {
	display: flex;
	justify-content: space-between;
	margin: 5px;
	margin-bottom: 10px;
}

.frame input[type="submit"] {
	width: 150px;
	background-color: #6cd9d7;
	color: white;
	cursor: pointer;

	padding: 10px;
	border: 1px solid #6f97b0;
	border-radius: 3px;
	margin-bottom: 10px;
}

.frame input[type="submit"]:hover {
	background-color: #89E0DF;
}

.frame hr {
	margin-bottom: 10px;
}